<% all = debate.comments -%>
<% trueansver = debate.comments.find(:all, :conditions => ["voted = ?", false]).size -%>

<tr>
  <td colspan="2">
      <%= link_to debate.header, debate_url(debate.id) %>
    (<span class="trueansver"><%= trueansver %></span>|<span class="falseansver"><%= all.size - trueansver %></span>)
  </td>
</tr>

