<tr>
  <td class="paddingleft15">
    <%= link_to mydebate.header, debate_url(mydebate.id) %>
  </td>
  <td class="mydebatesza"><%= mydebate.num_ansver_true %></td>
  <td class="mydebatesprotiv"><%= mydebate.num_ansver_false %></td>
  <td class="font18"><%= mydebate.created_at %></td>
</tr>

