<% content_for :title do %>Востановление пароля на naspr.ru<% end %>
<% content_for :description do %>Общественное мнение, истина, прав ли я, споры, мнения, дебаты, мнение народа, коллективные споры<% end %>
<% content_for :keywords do %>Общественное мнение, истина, прав ли я, споры, мнения, дебаты, мнение народа, коллективные споры<% end %>

<%= render :partial => 'templates/site_navigation' %>
<%= javascript_include_tag "jquery.dropshadow.js" %>
    <script type="text/javascript">
      window.onload = function()
      {
        $(".auth").dropShadow({left: 4, top: 4, opacity: 0.7, blur: 2});
      }
    </script>

      <div class="auth">

        <% form_tag  recover_password_url, :method => :post do -%>
        <table class="authtable">
          <tr>
            <td class="authtablelabel">
              Электронная почта:
            </td>
            <td class="authinputtd">
              <%= text_field_tag :email, nil, :class => "authinput" %>
            </td>
          </tr>
        </table>

              <div class="recoverbutton">
                  <%= image_submit_tag("recover_submit.png", :alt => "recover") %>
              </div>


        <% end -%>
      </div>

